<div class="card">
  <img [src]="product.imgUrl" class="card-img-top" [alt]="product.productName" style="height:200px;object-fit: cover">
  <div class="card-body">
    
    <h5 class="card-title">{{product.productName}}</h5>
    <p class="card-text">price: <strong>{{product.price}}</strong></p>
    <p class="card-text">Discription:<strong>{{product.discription}}</strong></p>
    <P class="card-text">stock:<strong>{{product.stockCount}}</strong></P>
    <button class="btn btn-primary w-100"
    [disabled]="product.stockCount ===0"
    (click)="addToCart()"
    >Add to card</button>
  </div>
</div>